<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Добавить / изменить пользователя</title>
</head>
<body>
<form th:method="${add} ? 'POST' : 'PATCH'"
      th:action="${add} ? @{/admin} : @{/admin/edit_user/{id}(id=${user.getId()})}"
      th:object="${user}">
    <h2>Пользователь</h2>
    <label for="name">Логин</label>
    <input type="text" th:field="*{username}" id="name"/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
    <br><br>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</p>
    <br><br>
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email"/>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
    <br><br>
    <label for="password">Пароль</label>
    <input type="text" th:field="*{password}" id="password"/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
    <br><br>
    <label for="role">Роли:</label>
    <input type="checkbox" name="roles"
           th:each="role : ${roles}"
           th:value="${role.getId()}"
           th:text="${role.getRole()}"
           th:field="*{roles}"
           id="role"/>

    <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Error</p>
    <br>
    <br>
    <div style="margin-left:20px;">
        <input type="submit" value="Сохранить"/>
    </div>
</form>
<div style="margin-left:20px;">
    <br>
    <form th:method="GET" th:action="@{/admin}">
        <input type="submit" value="Отменить"/>
    </form>
    <br>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Выход"/>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>