<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>

<br>
<table>
    <thead>
    <tr>
        <th th:width="100">ID</th>
        <th th:width="100">First Name</th>
        <th th:width="100">Last Name</th>
        <th th:width="50">Age</th>
        <th th:width="100">Email</th>
        <th>Role</th>
        <th th:width="150">Edit</th>
        <th th:width="150">Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${allUser}">
        <td th:utext="${user.getId()}">...</td>
        <td th:utext="${user.getFirstname()}">...</td>
        <td th:utext="${user.getLastname()}">...</td>
        <td th:utext="${user.getAge()}">...</td>
        <td th:utext="${user.getEmail()}">...</td>
        <td>
            <ul th:each="role: ${user.getRoles()}">
                <li th:text="${role.getRole()}"></li>
            </ul>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/edit_user/{id}(id=${user.getId()})}">
                <input type="submit" value="Изменить"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div style="margin-left:20px;">
    <br>
    <form th:method="GET" th:action="@{/admin/add_user}">
        <input type="submit" value="Добавить"/>
    </form>
    <br>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Выход"/>
    </form>
</div>
</body>
</html>