<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>


<br>
<table>
    <caption><h2>Пользователь</h2></caption>
    <thead>
    <tr>
        <th th:width="100">ID</th>
        <th th:width="100">Логин</th>
        <th th:width="50">Возраст</th>
        <th th:width="100">Почта</th>
        <th th:width="100">Пароль</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:utext="${thisUser.getId()}">...</td>
        <td th:utext="${thisUser.getUsername()}">...</td>
        <td th:utext="${thisUser.getAge()}">...</td>
        <td th:utext="${thisUser.getEmail()}">...</td>
        <td th:utext="${thisUser.getPassword()}">...</td>
        <td>
            <ul th:each="role: ${thisUser.getRoles()}">
                <li th:text="${role.getRole()}"></li>
            </ul>
        </td>

    </tr>
    </tbody>
</table>
<div style="margin-left:20px;">
    <br>
    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Выход"/>
    </form>
</div>
</body>
</html>